@charset "ISO-8859-1";

body {
	background-color: #29303D;
}

h1 {
	color: #A63C06;
	font-family: verdana, sans-serif;
	text-align: center;
}

h2 {
	color: #CAFE48;
	font-family: verdana, sans-serif;
	text-align: center;
}

p, a {
	max-width: 75%;
	margin: 0 auto;
	color: #29303D;
	font-family: arial, sans-serif;
	text-align: center;
	font-size: 120%;
}

a {
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #333C4D;
}

img {
	max-width: 100%;
	max-height: 100%;
}

img.feature {
	width: 75%;
	margin: 0 auto;
	display: block;
}

img.pixelated {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges
}

img.crisp-edges {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

div.header ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #394356;
}

div.header ul li {
	float: left;
}

div.header ul li a img {
	border-radius: 10%;
	width: 2.5em;
	height: 2.5em;
}

div.header ul li a.image {
	padding: 0.25em 16px;
	width: 2.5em;
	height: 2.5em;
}

div.header ul li a {
	max-width: 100%;
	font-size: 25px;
	display: inline-block;
	color: #C04507;
	text-align: center;
	padding: 1em 16px;
	text-decoration: none;
}

div.footer p {
	color: #12161C;
}

div.header ul li a:hover {
	background-color: #111;
}

div.downloads {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

div.content-wrap {
	padding: initial;
	background: initial;
	box-shadow: initial;
	border-radius: initial;
	margin: auto;
	box-sizing: border-box;
	max-width: 75%;
	min-width: 400px;
}

div.content {
	border-radius: 5ex;
	background-color: #FF9609;
	margin: auto;
}

.discord-widget {
	width: 350px;
	height: 500px;
	border: none;
	display: block;
	margin: auto;
}